
= form_for @camp do |form|

  .header-heading
    = t("form_basics_headline")

  .combo#name
    = form.label t("form_dream_name_label")
    = form.text_field :name, :maxlength => 64
    = t("form_dream_name_guidetext_html")

  .combo#subtitle
    = form.label t("form_subtitle_label")
    = form.text_area :subtitle, :maxlength => 255
    = t("form_subtitle_guidetext_html")

  .combo#contact_name
    = form.label t("form_creator_name_label")
    = form.text_field :contact_name, :maxlength => 64
    = t("form_creator_name_guidetext_html")

  .combo#contact_email
    = form.label t("form_creator_email_label")
    = form.text_field :contact_email, :maxlength => 64
    = t("form_creator_email_guidetext_html")

  .combo#contact_phone
  - if Rails.configuration.x.firestarter_settings["contact_phone"]
    = form.label t("form_contact_phone_label")
    = form.text_field :contact_phone, :maxlength => 64
    = t("form_contact_phone_guidetext_html")

  - 2.times do
    %br

  - if Rails.configuration.x.firestarter_settings["additional_info"]
    .header-heading
      = t("form_additional_headline")

  .combo#additonal
  - if Rails.configuration.x.firestarter_settings["additional_info"]
    = t("form_additional_info_text_html")

  .combo#description
  - if Rails.configuration.x.firestarter_settings["description"]
    = form.label t("form_description_label")
    = form.text_area :description, :maxlength => 4096
    = t("form_description_guidetext_html")

  .combo#electricity
  - if Rails.configuration.x.firestarter_settings["electricity"]
    = form.label t("form_electricity_label")
    = form.text_field :electricity, :maxlength => 256
    = t("form_electricity_guidetext_html")

  .combo#light
  - if Rails.configuration.x.firestarter_settings["light"]
    = form.label t("form_light_label")
    = form.text_field :light, :maxlength => 512
    = t("form_light_guidetext_html")

  .combo#fire
  - if Rails.configuration.x.firestarter_settings["fire"]
    = form.label t("form_fire_label")
    = form.text_area :fire, :maxlength => 512
    = t("form_fire_guidetext_html")

  .combo#noise
  - if Rails.configuration.x.firestarter_settings["noise"]
    = form.label t("form_noise_label")
    = form.text_field :noise, :maxlength => 256
    = t("form_noise_guidetext_html")

  .combo#nature
  - if Rails.configuration.x.firestarter_settings["nature"]
    = form.label t("form_nature_label")
    = form.text_area :nature, :maxlength => 512
    = t("form_nature_guidetext_html")

  .combo#moop
  - if Rails.configuration.x.firestarter_settings["moop"]
    = form.label t("form_moop_label")
    = form.text_area :moop, :maxlength => 1024
    = t("form_moop_guidetext_html")

  .combo#plan
  - if Rails.configuration.x.firestarter_settings["plan"]
    = form.label t("form_plan_label")
    = form.text_area :plan, :maxlength => 1024
    = t("form_plan_guidetext_html")

  .combo#cocreation
  - if Rails.configuration.x.firestarter_settings["cocreation"]
    = form.label t("form_cocreation_label")
    = form.text_area :cocreation, :maxlength => 4096
    = t("form_cocreation_guidetext_html")

  .combo#neighbors
  - if Rails.configuration.x.firestarter_settings["neighbors"]
    = form.label t("form_neighbors_label")
    = form.text_area :neighbors, :maxlength => 4096
    = t("form_neighbors_guidetext_html")

  - if Rails.configuration.x.firestarter_settings["granting"]
    %br
    %br
    .header-heading
      = t("form_artgrants_headline")

  .combo#artgrants
  - if Rails.configuration.x.firestarter_settings["granting"]
    = t("form_artgrants_text_html")

  .combo#minbudget
  - if Rails.configuration.x.firestarter_settings["granting"]
    = form.label t("form_minigrants_label")
    = form.number_field :minbudget, :maxlength => 6
    = t("form_minigrants_guidetext_html")

  .combo#maxbudget
  - if Rails.configuration.x.firestarter_settings["granting"]
    = form.label t("form_maxigrants_label")
    = form.number_field :maxbudget, :maxlength => 6
    = t("form_maxigrants_guidetext_html")

  .combo#budgetplan
  - if Rails.configuration.x.firestarter_settings["budgetplan"]
    = form.label t("form_budgetplan_label")
    = form.text_area :budgetplan, :maxlength => 4096
    = t("form_budgetplan_guidetext_html")

  .submit
    -if @camp.name
      = form.submit "Update dream!", class: 'btn btn-success'
    -else
      = form.submit "Create dream!", class: 'btn btn-success'
