<%= form_for @camp do |form| %>

<div class="header-heading">
  <%= t("form_basics_headline") %>
</div>

<% if Rails.configuration.x.firestarter_settings["placement"] %>

  <div class="header-heading">
    <%= t("form_location_headline") %>
  </div>

  <div>
    <div id="map"></div>
  </div>

    <div class="combo" id="address">
    <%= form.label t("form_address_label") %>
    <%= form.text_field :address, :maxlength => 255 %>
  </div>

<% end %>

  <div class="combo" id="name">
    <%= form.label t("form_dream_name_label") %>
    <%= form.text_field :name, :maxlength => 64 %>
    <%= t("form_dream_name_guidetext_html") %>
  </div>

  <div class="combo" id="subtitle">
    <%= form.label t("form_subtitle_label") %>
    <%= form.text_area :subtitle, :maxlength => 255 %>
    <%= t("form_subtitle_guidetext_html") %>
  </div>

  <div class="combo" id="start_time">
    <%= form.label t("form_start_time_label") %>
    <%= form.text_field :start_time, :maxlength => 64 %>
  </div>

  <div class="combo" id="end_time">
    <%= form.label t("form_end_time_label") %>
    <%= form.text_field :end_time, :maxlength => 64 %>
  </div>

  <% if Rails.configuration.x.firestarter_settings["organizer"] %>
  <div class="combo" id="organizer">
    <%= form.label t("form_organizer_label") %>
    <%= form.text_field :organizer, :maxlength => 64 %>
    <%= t("form_organizer_guidetext_html") %>
  </div>
 <% end %>

  <div class="combo" id="contact_name">
    <%= form.label t("form_creator_name_label") %>
    <%= form.text_field :contact_name, :maxlength => 64 %>
    <%= t("form_creator_name_guidetext_html") %>
  </div>

  <div class="combo" id="contact_email">
    <%= form.label t("form_creator_email_label") %>
    <%= form.text_field :contact_email, :maxlength => 64 %>
    <%= t("form_creator_email_guidetext_html") %>
  </div>

  <div class="combo" id="contact_phone"></div>
  <% if Rails.configuration.x.firestarter_settings["contact_phone"] %>
    <%= form.label t("form_contact_phone_label") %>
    <%= form.text_field :contact_phone, :maxlength => 64 %>
    <%= t("form_contact_phone_guidetext_html") %>
  <% end %>

  <% 2.times do %>
    <br/>
  <% end %>

  <div class="hidden">
    <%= form.text_field :latitude, :maxlength => 64, id: 'latitude' %>
  </div>

  <div class="hidden">
    <%= form.text_field :longitude, :maxlength => 64, id: 'longitude'  %>
  </div>

  <% if Rails.configuration.x.firestarter_settings["additional_info"] %>
    <div class="header-heading">
      <%= t("form_additional_headline") %>
    </div>
  <% end %>

  <div class="combo" id="additonal"></div>
  <% if Rails.configuration.x.firestarter_settings["additional_info"] %>
    <%= t("form_additional_info_text_html") %>
  <% end %>

  <div class="combo" id="description"></div>
  <% if Rails.configuration.x.firestarter_settings["description"] %>
    <%= form.label t("form_description_label") %>
    <%= form.text_area :description, :maxlength => 4096 %>
    <%= t("form_description_guidetext_html") %>
  <% end %>

  <div class="combo" id="benefit"></div>
  <% if Rails.configuration.x.firestarter_settings["benefit"] %>
    <%= form.label t("form_benefit_label") %>
    <%= form.text_area :benefit, :maxlength => 4096 %>
    <%= t("form_benefit_guidetext_html") %>
  <% end %>

  <div class="combo" id="electricity"></div>
  <% if Rails.configuration.x.firestarter_settings["electricity"] %>
    <%= form.label t("form_electricity_label") %>
    <%= form.text_field :electricity, :maxlength => 256 %>
    <%= t("form_electricity_guidetext_html") %>
  <% end %>

  <div class="combo" id="light"></div>
  <% if Rails.configuration.x.firestarter_settings["light"] %>
    <%= form.label t("form_light_label") %>
    <%= form.text_field :light, :maxlength => 512 %>
    <%= t("form_light_guidetext_html") %>
  <% end %>

  <div class="combo" id="fire"></div>
  <% if Rails.configuration.x.firestarter_settings["fire"] %>
    <%= form.label t("form_fire_label") %>
    <%= form.text_area :fire, :maxlength => 512 %>
    <%= t("form_fire_guidetext_html") %>
  <% end %>

  <div class="combo" id="noise"></div>
  <% if Rails.configuration.x.firestarter_settings["noise"] %>
    <%= form.label t("form_noise_label") %>
    <%= form.text_field :noise, :maxlength => 256 %>
    <%= t("form_noise_guidetext_html") %>
  <% end %>

  <div class="combo" id="nature"></div>
  <% if Rails.configuration.x.firestarter_settings["nature"] %>
    <%= form.label t("form_nature_label") %>
    <%= form.text_area :nature, :maxlength => 512 %>
    <%= t("form_nature_guidetext_html") %>
  <% end %>

  <div class="combo" id="moop"></div>
  <% if Rails.configuration.x.firestarter_settings["moop"] %>
    <%= form.label t("form_moop_label") %>
    <%= form.text_area :moop, :maxlength => 1024 %>
    <%= t("form_moop_guidetext_html") %>
  <% end %>

  <div class="combo" id="plan"></div>
  <% if Rails.configuration.x.firestarter_settings["plan"] %>
    <%= form.label t("form_plan_label") %>
    <%= form.text_area :plan, :maxlength => 1024 %>
    <%= t("form_plan_guidetext_html") %>
  <% end %>

  <div class="combo" id="cocreation"></div>
  <% if Rails.configuration.x.firestarter_settings["cocreation"] %>
    <%= form.label t("form_cocreation_label") %>
    <%= form.text_area :cocreation, :maxlength => 4096 %>
    <%= t("form_cocreation_guidetext_html") %>
  <% end %>

  <div class="combo" id="neighbors"></div>
  <% if Rails.configuration.x.firestarter_settings["neighbors"] %>
    <%= form.label t("form_neighbors_label") %>
    <%= form.text_area :neighbors, :maxlength => 4096 %>
    <%= t("form_neighbors_guidetext_html") %>
  <% end %>

  <% if Rails.configuration.x.firestarter_settings["marketing"] %>
    <br/>
    <br/>
    <div class="header-heading">
      <%= t("form_marketing_headline") %>
    </div>

    <div class="combo" id="marketing">
    <%= form.label t("form_marketing_label") %>
    <%= form.text_area :marketing, :maxlength => 1024 %>
    <%= t("form_marketing_guidetext_html") %>
    </div>

    <div class="combo" id="facebook">
    <%= form.label t("form_facebook_label") %>
    <%= form.text_field :facebook_link, :maxlength => 256 %>
    </div>

    <div class="combo" id="twitter">
    <%= form.label t("form_twitter_label") %>
    <%= form.text_field :twitter_link, :maxlength => 256 %>
    </div>

    <div class="combo" id="instagram">
    <%= form.label t("form_instagram_label") %>
    <%= form.text_field :instagram_link, :maxlength => 256 %>
    </div>

    <div class="combo" id="video">
    <%= form.label t("form_video_label") %>
    <%= form.text_field :video_link, :maxlength => 256 %>
    </div>

  <% end %>

  <% if Rails.configuration.x.firestarter_settings["granting"] %>
    <br/>
    <br/>
    <div class="header-heading">
      <%= t("form_artgrants_headline") %>
    </div>
  <% end %>

  <div class="combo" id="artgrants"></div>

  <% if Rails.configuration.x.firestarter_settings["granting"] %>
    <%= t("form_artgrants_text_html") %>
  <% end %>

  <div class="combo" id="minbudget"></div>
  <% if Rails.configuration.x.firestarter_settings["granting"] %>
    <%= form.label t("form_minigrants_label") %>
    <%= form.number_field :minbudget, :maxlength => 6 %>
    <%= t("form_minigrants_guidetext_html") %>
  <% end %>

  <div class="combo" id="maxbudget"></div>

  <% if Rails.configuration.x.firestarter_settings["granting"] %>
    <%= form.label t("form_maxigrants_label") %>
    <%= form.number_field :maxbudget, :maxlength => 6 %>
    <%= t("form_maxigrants_guidetext_html") %>
  <% end %>

  <div class="combo" id="budgetplan"></div>

  <% if Rails.configuration.x.firestarter_settings["budgetplan"] %>
    <%= form.label t("form_budgetplan_label") %>
    <%= form.text_area :budgetplan, :maxlength => 4096 %>
    <%= t("form_budgetplan_guidetext_html") %>
  <% end %>


  <% if Rails.configuration.x.firestarter_settings["responsibility_check"] %>
    <br/>
    <br/>
    <%= t("form_responsibility_guidetext_html") %>
    <div class="checkbox_container">
      <%= form.check_box :accept_terms, class: 'form_checkbox' %>
      <%= form.label t("form_responsibility_label"), class: 'form_checkbox' %>
    </div>
  <% end %>

  <br/>
  <br/>

  <div class="submit">
    <% if @camp.name %>
      <%= form.submit "Update activity", class: 'btn btn-success' %>
    <% else %>
      <%= form.submit "Create activity", class: 'btn btn-success' %>
    <% end %>
  </div>

<% end %>