<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

    <%= "Sort by: " %>
    <%= filterrific_sorting_link(@filterrific, :updated_at) %>

    <div class="camps_list col-xs-12">

        <% @camps.each do |camp| %>

            <a href="<%= url_for(camp) %>">
                <div class="camp_card">
                    <div class="img-box">
                        <% if camp.images.any? %>
                            <%= image_tag(camp.images.first.attachment.url(:large)) %>
                        <% else %>
                            <%= image_tag('bsb_placeholder.jpg') %>
                        <% end %>
                    </div>
                  <% id = camp.id %>
                  <b><%= truncate(camp.name, length: 50) %></b>
                  <span class="camp_card-desc"><%= truncate(camp.subtitle, length: 130) %></span>
                </div>
            </a>
        <% end %>

    </div>

    <div class="row top_message" align="center">
        <div class="col-xm-12"><%= paginate @camps %></div>
    </div>

</div>
