<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">

    <%= "Sort by: " %>
    <%= filterrific_sorting_link(@filterrific, :updated_at) %>

    <div class="camps_list col-xs-12">

        <% @camps.each do |camp| %>
            <a href="<%= url_for(camp) %>">
                <div class="camp_card">
                  <% if camp.images.any? %>
                    <% camp.images.each_with_index do |image, index| %>
                      <% if index == 0 %>
                        <% image_path = camp_image_path(camp_id: camp.id, id: image.id) %>
                        <div class="camp_card-img" style="background-image:url('<%= image_path %>')"></div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="camp_card-img" style="background-image:url('http://placehold.it/750x400')"></div>
                  <% end %>
            
                  <% id = camp.id %>
                  <h1><%= truncate(camp.name, length: 50) %></h1>
                  <span class="camp_card-desc"><%= truncate(camp.description, length: 130) %></span>
                </div>
            </a>
        <% end %>

    </div>

    <div class="row top_message" align="center">
        <div class="col-xm-12"><%= paginate @camps %></div>
    </div>

</div>
