<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'blueimp_script' %> 
<% end %>

<div class="row top_message">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if user_signed_in? %>
        <%=t :welcome_user_title %>
      <% else %>
        <%=t :welcome_guest_title %>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="col-md-8">
        <% if user_signed_in? %>
          <%=t :welcome_user_text_html %>
        <% else %>
          <%=t :welcome_guest_text_html %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= form_for_filterrific @filterrific do |f| %>
        
        <div>
          <p><bSök efter aktiviteter</b></p>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed'
          ) %>
        </div>
        
        <% if Rails.configuration.x.firestarter_settings["granting_active"] and @camp.minbudget %>

        <br>

          <div class="form-inline">
            <%= f.check_box(:not_fully_funded, class: 'filterrific-periodically-observed checkbox') %>
            Hide fully funded
          </div>
  
          <div class="form-inline">
            <%= f.check_box(:not_min_funded, class: 'filterrific-periodically-observed checkbox') %>
            Hide minimum funded
          </div>
  
          <div class="form-inline">
            <%= f.check_box(:not_seeking_funding, class: 'filterrific-periodically-observed checkbox') %>
            Hide not open for granting
          </div>
  
          <%= render_filterrific_spinner %>
        
        <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render(
  partial: 'camps/list',
  locals: { camps: @camps }
) %>
