<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'blueimp_script' %> 
<% end %>


<% if !user_signed_in? %>
  <div class="row top_message">
    <div class="panel panel-default coverphoto-panel">
      <div class="panel-heading">
        <%=t :welcome_guest_title %>
      </div>
      <div class="panel-body">
        <p><%=t :welcome_guest_text_html %></p>
      </div>
    </div>
  </div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=t :welcome_user_title %>
      </div>
      <div class="panel-body">
        <p><%=t :welcome_user_text_html %></p>
      </div>
    </div>
  <% end %>


<div class="camps_list">

  <% @camps.reverse.each do |camp| %>
  <a href="<%= url_for(camp) %>">
    <div class="camp_card">

      <% if camp.images.any? %>
      <% camp.images.each_with_index do |image, index| %>
      <% if index == 0 %>
      <% image_path = camp_image_path(camp_id: camp.id, id: image.id) %>
      <div class="camp_card-img" style="background-image:url('<%= image_path %>')"></div>
      <% end %>
      <% end %>
      <% else %>
      <div class="camp_card-img" style="background-image:url(<%= asset_path 'bsb_placeholder.jpg' %>)"></div>
      <% end %>

      <% id = camp.id %>
      <h1><%= truncate(camp.name, length: 50) %></h1>
      <span class="camp_card-desc"><%= truncate(camp.subtitle, length: 130) %></span>
    </div>
  </a>
  <% end %>
</div>

<%= paginate @camps %>
