<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'blueimp_script' %> 
<% end %>


<% if !user_signed_in? %>
  <div class="row top_message">
    <div class="panel panel-default coverphoto-panel">
      <div class="panel-heading">
        <%=t :welcome_guest_title %>
      </div>
      <div class="panel-body">
        <p><%=t :welcome_guest_text_html %></p>
      </div>
    </div>
  </div>
  <% else %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%=t :welcome_user_title %>
      </div>
      <div class="panel-body">
        <p><%=t :welcome_user_text_html %></p>
      </div>
    </div>
  <% end %>

<%= form_for_filterrific @filterrific do |f| %>

<div class="form-inline">

  <div class="form-group">
    Hide fully funded
    <%= f.check_box(:not_fully_funded, class: 'filterrific-periodically-observed form-control') %>
  </div>

  <div class="form-group">
    Hide minimum funded
    <%= f.check_box(:not_min_funded, class: 'filterrific-periodically-observed form-control') %>
  </div>

  <div class="form-group">
    Hide not open for granting
    <%= f.check_box(:not_seeking_funding, class: 'filterrific-periodically-observed form-control') %>
  </div>

  <div class="form-group">
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>

</div>

  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'camps/list',
  locals: { camps: @camps }
) %>
