<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'gmap_functions' %> 
  <%= javascript_include_tag 'all_camps_map' %> 
<% end %>

<%= javascript_tag do %>
    all_camps = <%= @camps.to_json.html_safe %> ;
    localStorage.setItem('all_camps', JSON.stringify(all_camps));
<% end %>

<div class="row top_message">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if user_signed_in? %>
        <%=t :welcome_user_title %>
      <% else %>
        <%=t :welcome_guest_title %>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="col-md-8">
        <% if user_signed_in? %>
          <%=t :welcome_user_text_html %>
        <% else %>
          <%=t :welcome_guest_text_html %>
        <% end %>
      </div>
      <div class="col-md-4">
        <p><b>Find activity</b></p>
        <%= form_for_filterrific @filterrific do |f| %>
        
        <div>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
          ) %>
        </div>
        
        <% if Rails.configuration.x.firestarter_settings["granting_active"] and @camp.minbudget %>

        <br>

          <div class="form-inline">
            <%= f.check_box(:not_fully_funded, class: 'filterrific-periodically-observed checkbox') %>
            Hide fully funded
          </div>
  
          <div class="form-inline">
            <%= f.check_box(:not_min_funded, class: 'filterrific-periodically-observed checkbox') %>
            Hide minimum funded
          </div>
  
          <div class="form-inline">
            <%= f.check_box(:not_seeking_funding, class: 'filterrific-periodically-observed checkbox') %>
            Hide not open for granting
          </div>
  
          <%= render_filterrific_spinner %>
        
        <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<% if Rails.configuration.x.firestarter_settings["placement"] %>
  <div>
    <div class="overlay" onClick="style.pointerEvents='none'"></div>
    <div id="map"></div>
  </div>
<% end %>

<%= render(
  partial: 'camps/list',
  locals: { camps: @camps }
) %>
