<div class="row">
    <div class="col-md-8">
        <h1 class="header-sub-heading"><%= @camp.name %></h1>
    </div>
</div>

<div class="row">

    <div class="col-md-8">

        <!-- Blueimp Gallery -->
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>

        <div id="links">
            <% @camp.images.each_with_index do |image, index| %>
                <% status = "" %>
                <% if index == 0 %>
                    <% status = "active" %>
                <% end %>
                <% image_url = image.attachment.url(:original)%>

                <div class="thumbnail">
                    <a href="<%= image_url %>">
                        <img src="<%= image_url %>">
                    </a>
                </div>

            <% end %>

        </div>

        <% content_for(:head) do %>
            <% browser_title = @camp.name + " - " + t(:browser_title_tag) %>
            <title><%= browser_title %></title>
            <%= javascript_include_tag 'blueimp_script' %>
        <% end %>

        <!-- Creation text content -->
        <div class="camp-description">
            <b>Summary</b>
            <p><%= simple_format(@camp.subtitle) %></p>
        </div>

        <% if Rails.configuration.x.firestarter_settings["description"] and @camp.description != "" %>
            <div class="camp-description">
                <b><%=t :form_description_label %></b>
                <p><%= simple_format(@camp.description) %></p>
            </div>
        <% end %>

        <% if Rails.configuration.x.firestarter_settings["benefit"] and @camp.benefit != "" %>
            <div class="camp-description">
                <b><%=t :form_benefit_label %></b>
                <p><%= simple_format(@camp.benefit) %></p>
            </div>
        <% end %>

        <% if Rails.configuration.x.firestarter_settings["plan"] and @camp.plan != "" %>
            <div class="camp-description">
                <b><%=t :form_plan_label %></b>
                <p><%= simple_format(@camp.plan) %></p>
            </div>
        <% end %>

        <% if Rails.configuration.x.firestarter_settings["moop"] and @camp.moop != "" %>
            <div class="camp-description">
                <b><%=t :form_moop_label %></b>
                <p><%= simple_format(@camp.moop) %></p>
            </div>
        <% end %>

        <% if Rails.configuration.x.firestarter_settings["budgetplan"] and @camp.budgetplan != "" %>
            <div class="camp-description">
                <b><%=t :form_budgetplan_label %></b>
                <p><%= simple_format(@camp.budgetplan) %></p>
            </div>
        <% end %>

        <% if Rails.configuration.x.firestarter_settings["cocreation"] and @camp.cocreation != "" %>
            <div class="camp-description">
                <b><%=t :form_cocreation_label %></b>
                <p><%= simple_format(@camp.cocreation) %></p>
            </div>
        <% end %>

    </div> <!-- col-md-8 -->

    <div class="col-md-4">

        <% if !user_signed_in? and Rails.configuration.x.firestarter_settings["creation_sidebar_welcome"] %>
            <div class="panel panel-default">
                <div class="panel-heading"><%=t :what_is_this_title %></div>
                <div class="panel-body">
                    <p><%=t :what_is_this_text_html %></p>
                </div>
            </div>
        <% end %>

        <div class="creation-info">
            <ul>

                <li><span><h2 class="header-sub-heading"><%=t :creation_info_headline %></h2></span></li>

                <% if current_user && (@camp.creator == current_user || current_user.admin) %>
                    <li><span>
                        <a href="<%= edit_camp_path(@camp) %>" class="btn btn-primary camp-button" role="btn button">Update activity</a>
                    </li></span>
                    <li><span>
                        <a href="<%= camp_images_path(@camp) %>" class="btn btn-primary camp-button" role="btn button">Upload images</a>
                    </li></span>
                <% end %>

                <br>

                <li><span><b>Tengiliður:</b> <%= @camp.contact_name %></span></li>
                <br>

                <% if Rails.configuration.x.firestarter_settings["organizer"] and @camp.organizer != "" %>
                    <li><span><b>Arrangeras av:</b> <%= @camp.organizer %></span></li>
                    <br>
                <% end %>


                <li><span><b>Tengiliður netfang:</b> <%= @camp.contact_email %></span></li>
                 <br>

                <% if Rails.configuration.x.firestarter_settings["address"] and  @camp.address != "" %>
                    <li><span>
                        <b><%=t :form_address_label %></b> <%= @camp.address %>
                    </span></li>


                    <br>
                <% end %>


                <% if Rails.configuration.x.firestarter_settings["time"] and  @camp.start_time != "" %>
                    <li><span>
                        <b><%=t :form_start_time_label %></b> <%= @camp.start_time %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["time"] and  @camp.end_time != "" %>
                    <li><span>
                        <b><%=t :form_end_time_label %></b> <%= @camp.end_time %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["marketing"] and @camp.facebook_link != "" %>
                    <div class="camp-description">
                        <% link = @camp.facebook_link %>
                        <% if(link[0,7] != "http://" && link[0,8] != "https://" ) %>
                            <% link = "http://" + link %>
                        <% end %>
                        <p><b><%= link_to("Facebook", link) %></b></p>
                    </div>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["marketing"] and @camp.twitter_link != "" %>
                    <div class="camp-description">
                        <% link = "http://twitter.com/" + @camp.twitter_link %>
                        <p><b><%= link_to("Twitter", link) %></b></p>
                    </div>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["marketing"] and @camp.instagram_link != "" %>
                    <div class="camp-description">
                        <% link = "http://www.instagram.com/" + @camp.instagram_link %>
                        <p><b><%= link_to("Instagram", link) %></b></p>
                    </div>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["marketing"] and @camp.video_link != "" %>
                    <div class="camp-description">
                        <% link = @camp.video_link %>
                        <% if(link[0,7] != "http://" && link[0,8] != "https://" ) %>
                            <% link = "http://" + link %>
                        <% end %>
                        <p><b><%= link_to("Videolänk", link) %></b></p>
                    </div>
                <% end %>

                <!-- Granting system -->
                <% if @camp.grantingtoggle %>
                    <% button_text = "Turn off granting" %>
                <% else %>
                    <% button_text = "Enable granting" %>
                <% end %>

                <% if current_user && (current_user.guide || current_user.admin) %>
                    <%= form_tag({controller: "camps", action: "toggle_granting"}, method: "patch") do %>
                        <%= submit_tag button_text, :class => "btn btn-primary" %>
                    <% end %>
                <% end %>

                <!-- Granting system -->
                <% if Rails.configuration.x.firestarter_settings["granting_active"] and @camp.minbudget %>

                    <li><span>

                        <% if @camp.minbudget <= @camp.grants_received %>
                            <% if @camp.maxbudget <= @camp.grants_received %>
                                <h3><span class="label label-success granting-label">
                                    <b>Fully funded</b>
                                </span></h3>
                            <% else %>
                                <h3><span class="label label-success granting-label">
                                    <b>Minimum funding reached</b>
                                </span></h3>
                            <% end %>
                        <% else %>
                            <h3><span class="label label-warning granting-label">
                                <b>Not funded yet</b>
                            </span></h3>
                        <% end %>

                        <h3><span class="label label-info granting-label">
                            <b>Minimum grants needed </b>
                            <span class="badge"><%= @camp.minbudget %></span>
                        </span></h3>

                        <h3><span class="label label-info granting-label">
                            <b>Needed to fully fund </b>
                            <span class="badge"><%= @camp.maxbudget %></span>
                        </span></h3>

                        <h3><span class="label label-info granting-label">
                            <b>Grants recieved </b>
                            <span class="badge"><%= @camp.grants_received %></span>
                        </span></h3>

                        <!-- Show user grants left -->
                        <% if current_user and @camp.minbudget %>
                            <% if current_user.grants > 0 %>
                                <h3><span class="label label-success granting-label">
                                    <b>Your available grants </b>
                                    <span class="badge"><%= current_user.grants %></span>
                                </span></h3>
                            <% else %>
                                <h3><span class="label label-warning granting-label">
                                    <b>You're out of grants </b>
                                </span></h3>
                            <% end %>
                        <% end %>

                        <!-- If user grants are > 0, allow user to asign them -->
                        <!-- Show a form with a drop-down containing user grants -->
                        <!-- Current iteration shows a number field -->

                        <% if @camp.grantingtoggle %>
                            <% if current_user && current_user.grants > 0 && !@camp.fullyfunded %>
                                <h3><span class="label label-primary granting-label">
                                    <%= form_tag({controller: "camps", action: "update_grants"}, method: "patch") do %>
                                        <%= label_tag 'Give Grants' %>
                                        <%= number_field_tag 'grants', nil, in: 0..current_user.grants, step: 1 %>
                                        <%= submit_tag 'I gift thee grants', :class => "btn btn-success" %>
                                    <% end %>
                                </span></h3>
                            <% end %>
                        <% else %>
                            <h3><span class="label label-warning granting-label">
                                <b>No granting for this dream yet! </b>
                            </span></h3>
                        <% end %>

                        <br>
                <% end %>
                <!-- End of granting block -->

                <% if Rails.configuration.x.firestarter_settings["electricity"] and @camp.electricity != "" %>
                    <li><span>
                        <b><%=t :form_electricity_label %></b> <%= @camp.electricity %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["light"] and  @camp.light != "" %>
                    <li><span>
                        <b><%=t :form_light_label %></b> <%= @camp.light %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["fire"] and  @camp.fire != "" %>
                    <li><span>
                        <b><%=t :form_fire_label %></b> <%= @camp.fire %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["noise"] and  @camp.noise != "" %>
                    <li><span>
                        <b><%=t :form_noise_label %></b> <%= @camp.noise %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["nature"] and  @camp.nature != "" %>
                    <li><span>
                        <b><%=t :form_nature_label %></b> <%= @camp.nature %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["grants"] and  @camp.minbudget != "" %>
                    <li><span>
                        <b><%=t :form_minigrants_label %></b> <%= @camp.minbudget %>
                    </span></li>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["grants"] and  @camp.maxbudget != "" %>
                    <li><span>
                        <b><%=t :form_maxigrants_label %></b> <%= @camp.maxbudget %>
                    </span></li>


                    <br>
                <% end %>

                <% if Rails.configuration.x.firestarter_settings["add_to_list"] %>
                    <br>
                    <% if @camp.creator != current_user %>
                        <li><b><%=t :cocreator_application_guidetext %></b></li>
                        <div class="join_creation">
                            <%= button_to "Add my name", {action: "join", user: current_user }, {class: 'btn btn-success button'} %>
                        </div>
                    <% end %>

                    <% if current_user && (@camp.creator == current_user || current_user.guide) %>
                        <br>
                        <li><span><b><%=t :cocreators_list_guidetext %></b>
                            <% @users.each do |user| %>
                                <%= user.email %><br>
                            <% end %>
                        </span></li>
                    <% end %>
                <% end %>

                <% if current_user && (@camp.creator == current_user || current_user.admin) %>
                    <%= form_for @camp, method: :delete do |f| %>
                        <%= f.submit 'Delete activity', class: "btn btn-danger" , data: { confirm: 'Are you sure you want to delete this activity?' } %>
                    <% end %>
                <% end %>

            </ul>

        </div> <!-- creation-info -->

    </div> <!-- col-md-3 -->

</div> <!-- row -->
