<% content_for(:head) do %>
  <% browser_title = "Sign in " + " - " + t(:browser_title_tag) %>
  <title><%= browser_title %></title>
<% end %>

<div class="sign_in">
  <h2>Innskrá</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Innskrá", class: "btn btn-success"  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>