<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'blueimp_script' %> 
  <meta property="og:title" content="<%= t :chronicles_welcome_user_title %>" />
  <meta property="og:description" content="<%= t :chronicles_welcome_user_text_html %>" />
  <meta property="og:image" content="http://theborderland.se/assets/coverphoto.png" />
<% end %>

<div class="top_message" dir=<%=t :html_direction %>>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= t(:chronicles_welcome_user_title) %></h3>
    </div>
    <div class="panel-body">
      <div class="col-md-12">
      <%= t(:chronicles_welcome_user_text_html) %><br>
        <b><%=t :search_title %></b>
        <%= form_for_filterrific @filterrific do |f| %>

        <div>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed form-control'
          ) %>
        </div>

        <%= render_filterrific_spinner %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render(
  partial: 'chronicles/list',
  locals: { camps: @camps }
) %>