<div class="row">
    <h2 class="header-sub-heading">Dream images</h2>
</div>

<div class="row">
    <% @images.each do |image| %>
        <div class="camp-image">
            <% image_url = image.attachment.url(:medium) %>
            <%= image_tag(image_url) %>
            <%= form_for image, url: camp_image_path(image.camp_id, image),  method: :delete do |form| %>
                <%= form.submit 'Remove image', { class: 'delete_button' } %>
            <% end %>
        </div>
    <% end %>
</div>

<div class="row">
    <a href="<%= camp_path(@camp_id) %>" class="btn btn-info camp-button" role="button">Back to dream</a>
</div>

<div class="row">
    <h2 class="header-sub-heading camp-upload_image">Upload image</h2>

    <p>Images must be smaller than 8 mb and be in jpg, png or gif format. To make your Dream look really awesome, make sure your images are in landscape format and larger than 1500x800 pixels. </p>

</div>


<%= form_tag camp_images_path(camp_id: @camp_id), method: :post, multipart: true do %>
    <div class="row">
        <%= label_tag :attachment, 'Upload image' %>
    </div>

    <div class="row">
        <div class="col-md-4">
            <%= file_field_tag :attachment %>
            <%= submit_tag 'Upload image', class: 'btn btn-success camp-button' %>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
<% end %>
