<div class="row">
    <h2 class="header-sub-heading">Bilder till aktivitet</h2>
</div>

<div class="row">
    <% @images.each do |image| %>
        <div class="camp-image">
            <% image_url = image.attachment.url(:medium) %>
            <%= image_tag(image_url) %>
            <%= form_for image, url: camp_image_path(image.camp_id, image),  method: :delete do |form| %>
                <%= form.submit 'Ta bort bild', { class: 'delete_button' } %>
            <% end %>
        </div>
    <% end %>
</div>

<div class="row">
    <a href="<%= camp_path(@camp_id) %>" class="btn btn-info camp-button" role="button">Gå tillbaka</a>
</div>

<div class="row">
    <h2 class="header-sub-heading camp-upload_image">Ladda upp bilder</h2>

    <p>Bilderna måste vara jpg, png eller gif. Bilder i liggande läge fungerar bäst på sidan. </p>

</div>


<%= form_tag camp_images_path(camp_id: @camp_id), method: :post, multipart: true do %>
    <div class="row">
        <%= label_tag :attachment, 'Ladda upp bild' %>
    </div>

    <div class="row">
        <div class="col-md-4">
            <%= file_field_tag :attachment %>
            <%= submit_tag 'Ladda upp bild', class: 'btn btn-success camp-button' %>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
<% end %>
